<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cryst Compress</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
<div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <form method="post" enctype = "multipart/form-data">
                  <div class="mb-3">
                    <label for="file" class="form-label">Upload the OUT file from your computer</label>
                    <input class="form-control" type="file" id="file" accept=".out" name="file">
                  </div>
                    <div class="mb-3">
                      <label for="selectAction">Select option</label>
                      <select class="form-select" id="selectAction" name="action">
                        <option value="1">Full analysis</option>
                        <option value="2">Spatial dependence</option>
                        <option value="3">2D projections of spatial dependence</option>
                      </select>
                    </div>
                    <div class="mb-3" id="functionFormGroup" hidden>
                      <label for="selectFunction">Select modulus</label>
                      <select class="form-select" id="selectFunction" name="function">
                        {% for function in functions %}
                        <option value="{{function.name}}">{{function.title}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Proceed</button>
                  </form>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}
                      <div class="card bg-danger text-white w-50 mt-1">
                        <div class="card-body">
                          {{ message }}
                        </div>
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                </div>
              </div>
            </div>

</div>
<script>
  var action_select = document.getElementById('selectAction')
  var function_select = document.getElementById('functionFormGroup')

  function update_select(){
    console.log(action_select.value)
    if (action_select.value !== "1"){
      function_select.removeAttribute('hidden')
    }else{
      function_select.setAttribute('hidden', '');
    }
  }
  update_select();

  action_select.addEventListener("change", (event) => {
    update_select();
  })
</script>
</body>
</html>